<!-- Pantalla de carga -->
<!-- <div class="preloader">
  <div class="preloader-body">
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <p>Cargando...</p>
  </div>
</div> -->



<!-- Navbar-->
<header class="header">
  <!-- <nav class="navbar navbar-expand-lg fixed-top py-3"> -->
    <nav class="navbar sticky-top navbar-expand-lg bg-dark">
   
    <div class="rd-navbar-brand">
      <a routerLink="home">
        <img class="brand-logo-light"
          src="assets\img\oie_tXgODCMOi8Fe-removebg-preview.png" alt="" width="140" height="57"
          srcset="assets\img\oie_tXgODCMOi8Fe-removebg-preview.png" />
        </a>
    </div>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="home" class="nav-link text-uppercase font-weight-bold">Inicio
            <span
              class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item"><a routerLink="item" class="nav-link text-uppercase font-weight-bold">La carta</a></li>
        <li class="nav-item"><a routerLink="about" class="nav-link text-uppercase font-weight-bold">Quienes Somos</a></li>
        <li class="nav-item"><a routerLink="booking" class="nav-link text-uppercase font-weight-bold">Reservas</a></li>
        <li class="nav-item"><a routerLink="contact" class="nav-link text-uppercase font-weight-bold">Contacto</a></li>
      </ul>
    </div>

  </nav>
</header>



