.navbar {
    transition: all 0.4s;
    background-color: #cac58b;
}

.navbar .nav-link {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgb(175, 103, 103);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: rgb(0, 0, 0);
}


/* Change navbar styling on scroll */
.navbar.active {
    background: beige;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
 @media (max-width: 991.98px) {
    .navbar {
        background: rgb(211, 194, 171);
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.text-small {
    font-size: 0.9rem !important;
} 


/* body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, hsl(200, 16%, 96%) 0%,  100%);
}   */

 


