<!-- Pantalla de carga -->
<!-- <div class="preloader">
  <div class="preloader-body">
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
    <p>Cargando...</p>
  </div>
</div> -->



<!-- Navbar-->
<header class="header">
  <!-- <nav class="navbar navbar-expand-lg fixed-top py-3"> -->
    <nav class="navbar sticky-top navbar-expand-lg bg-dark">
   
    <div class="rd-navbar-brand"><a href="index.html"><img class="brand-logo-light"
          src="assets\img\oie_tXgODCMOi8Fe-removebg-preview.png" alt="" width="140" height="57"
          srcset="assets\img\oie_tXgODCMOi8Fe-removebg-preview.png" /></a></div>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Inicio<span
              class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">La carta</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Quienes Somos</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Reservas</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Contacto</a></li>
      </ul>
    </div>

  </nav>
</header>


<!-- CAJA DE WELCOME -->
<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
  <div class="main-bunner-img" style="background-image: url(assets/img/welcome.jpg); background-size: cover;"></div>
  <div class="main-bunner-inner">
    <div class="container">
      <div class="box-default">
        <h1 class="box-default-title">BIENVENIDOS</h1>
        <div class="box-default-decor"></div>
        <p class="big box-default-text"> La tradición italiana hecha restaurante</p>
      </div>
    </div>
  </div>
</section>
