.arreglo{
    width: 25%;
    height: 100%;
    float: left;
}
.testimonios{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-pared-ladrillo-negro_84485-43.jpg);
    width: 100%;
    height: 100%;
}