<!-- <div class="preloader">
    <div class="preloader-body">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
      <p>Loading...</p>
    </div>
  </div> -->




<!-- CAJA DE WELCOME -->
<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
  <div class="main-bunner-img" style="background-image: url(assets/img/about.png); background-size: cover;"></div>
  <div class="main-bunner-inner">
    <div class="container">
      <div class="box-default">
        <h1 class="box-default-title">PARISO</h1>
        <div class="box-default-decor"></div>
        <p class="big box-default-text"> La tradición italiana hecha restaurante</p>
      </div>
    </div>
  </div>
</section>

  

<section class="section section-lg bg-gray-1">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-6 pr-xl-5"><img src="https://livedemo00.template-help.com/wt_53136/images/about-us-1-518x434.jpg" alt="" width="518" height="434"/>
        </div>
        <div class="col-lg-6">
          <h2>Sobre Nuestro Restaurante</h2>
          <div class="text-with-divider">
            <div class="divider"></div>
            <h4>Ofrecemos los mejores platos italianos en un ambiente agradable y tranquilo.</h4>
          </div>
          <p>El espíritu de Pariso viene desde la Regione Marche italiana. En 1938, después de vivir la guerra, la Nonna Valentina llega a Mendoza con sus hijos y dos años después crea la primera casa</p>
          <p>Desde ese día hasta ahora se mantiene el mismo espíritu audaz y la misma idea: que nuestros clientes pasen un momento agradable en nuestra casa. Hoy todos los miembros de esta familia creemos en generar buenos momentos cocinando y sirviendo con amor.</p>
        </div>
      </div>
    </div>
  </section>




  <section class="section section-lg bg-white">
    <div class="container">
      <h2 class="text-center">Por qué la gente nos elige?</h2>
      <div class="row row-30 row-md-60">
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-30"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">Somos una Familia</a></h4>
              <p>Morbi tristique senectus et netus et malesuada fames ac turpis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-11"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">Comida Fresca</a></h4>
              <p>Cum resistentia mori, omnes elevatuses imperium plac.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-36"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">Cocina de Alta Calidad</a></h4>
              <p>Cum consilium accelerare, omnes absolutioes quaestio fatalis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl restaurant-icon-27"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">El Mejor Servicio</a></h4>
              <p>Cum onus studere, omnes consiliumes amor plac.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl restaurant-icon-34"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">Menú Diverso</a></h4>
              <p>Cum demolitione persuadere, omnes devatioes captis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl restaurant-icon-26"></span></div>
            <div class="box-icon-caption">
              <h4><a href="#">Precios Accesibles</a></h4>
              <p>Mirabilis, gratis devatios mechanice contactus de neuter, primus vigil.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="parallax-container" data-parallax-img="assets/img/fondo.jpg" src="https://sp.depositphotos.com/stock-photos/platos-italianos.html">
    <div class="parallax-content section-xl context-dark text-center bg-dark-filter bg-dark-filter-2">
      
      
      
      <div class="container">
        <h2>Testimonios</h2>
        <!-- Slick Carousel-->
        <div class="slick-slider carousel-parent slick-style-1" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel">
          <div class="item">
            <div class="testimonials-modern">
              <div class="testimonials-modern-text">
                <p>Es un restaurante de comida italiana muy bueno y reconocido en Mendoza. Amplitud de platillos y de vinos, muy buena atención, precios razonables y sazón italiana en sus platillos: pastas, pescados, carnes, vinos, todo de buena calidad.
                    Muy recomendable para ir en pareja, en familia o con amigos
                </p>
              </div>
              <div class="testimonials-modern-name">Joanna Smith</div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-modern">
              <div class="testimonials-modern-text">
                <p>Todo estuvo fantástico... desde la llegada, estacionamiento privado (con valet parking), muy buena atención por parte de los meseros, la comida excelente (sabor, presentación, tiempo de espera), precios entre "accesibles" y "caros" sobre todos de las copas de vino. Definitivamente lo recomiendo, espero regresar pronto, ahora es de mis favoritos de la ciudad.</p>
              </div>
              <div class="testimonials-modern-name">James Williams</div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-modern">
              <div class="testimonials-modern-text">
                <p>Excelente como siempre. ...tenemos 25 años viniendo y siempre nos sorpenden innovando. ..delicioso

                    El servicio impecable. ....Todo</p>
              </div>
              <div class="testimonials-modern-name">Kate McMillan</div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-modern">
              <div class="testimonials-modern-text">
                <p>Delicioso para cerrar una comida deliciosa, felicidades como siempre un deleite, excelente servicio calidad de alimentos pueden visitar personas con dieta especial sólo avisen a su mesero para que les de un menú para ustedes</p>
              </div>
              <div class="testimonials-modern-name">Peter Wilson</div>
            </div>
          </div>
        </div>
        <div class="slick-slider slider-dots" id="child-carousel" data-for=".carousel-parent" data-arrows="false" data-loop="false" data-dots="false" data-swipe="true" data-items="4" data-xs-items="4" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-slide-to-scroll="1">
          <div class="item">
            <div class="slick-dot-item"><img src="https://livedemo00.template-help.com/wt_53136/images/user-1-60x60.jpg" alt="" width="60" height="60"/>
            </div>
          </div>
          <div class="item">
            <div class="slick-dot-item"><img src="https://livedemo00.template-help.com/wt_53136/images/user-2-60x60.jpg" alt="" width="60" height="60"/>
            </div>
          </div>
          <div class="item">
            <div class="slick-dot-item"><img src="https://livedemo00.template-help.com/wt_53136/images/user-3-60x60.jpg" alt="" width="60" height="60"/>
            </div>
          </div>
          <div class="item">
            <div class="slick-dot-item"><img src="https://livedemo00.template-help.com/wt_53136/images/user-4-60x60.jpg" alt="" width="60" height="60"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg bg-gray-1 text-center">
    <div class="container">
      <h2>Nuestros Premios</h2>
      <div class="row row-30">
        <div class="col-6 col-md-3"><a class="clients-default" href="#"><img src="https://livedemo00.template-help.com/wt_53136/images/clients-1-270x119.png" alt="" width="270" height="119"/></a></div>
        <div class="col-6 col-md-3"><a class="clients-default" href="#"><img src="https://livedemo00.template-help.com/wt_53136/images/clients-2-270x119.png" alt="" width="270" height="119"/></a></div>
        <div class="col-6 col-md-3"><a class="clients-default" href="#"><img src="https://livedemo00.template-help.com/wt_53136/images/clients-3-270x119.png" alt="" width="270" height="119"/></a></div>
        <div class="col-6 col-md-3"><a class="clients-default" href="#"><img src="https://livedemo00.template-help.com/wt_53136/images/clients-4-270x119.png" alt="" width="270" height="119"/></a></div>
      </div>
    </div>
  </section>


  