<!-- CAJA DE WELCOME -->
<section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
  <div class="main-bunner-img" style="background-image: url(assets/img/welcome.jpg); background-size: cover;"></div>
  <div class="main-bunner-inner">
    <div class="container">
      <div class="box-default">
        <h1 class="box-default-title">BIENVENIDOS</h1>
        <div class="box-default-decor"></div>
        <p class="big box-default-text"> La tradición italiana hecha restaurante</p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>

<section class="section section-lg section-inset-1 bg-gray-1 pt-lg-0">
    <div class="container">
      <div class="row row-50 justify-content-xl-between align-items-lg-center">
        <div class="col-lg-6 wow fadeInLeft">
          <div class="box-image"><img class="box-image-static" src="assets/img/home.jpg" alt="" width="483" height="327"/>
            <!-- <img class="box-image-position" src="assets\img\about-us-1-518x434.jpg" alt="" width="341" height="391"/> -->
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 wow fadeInRight">
          <h2>Nosotros</h2>
          <p>Pariso es un restaurante italiano de propiedad y gestión familiar que ofrece una combinación de ingredientes frescos y auténtica cocina italiana.</p>
          <p>Nos aseguraremos de que le sirvan los platos italianos más auténticos y frescos, mientras ofrecemos el mejor servicio al cliente. Nuestra cocina se compromete a brindar a nuestros huéspedes la mejor cocina italiana.</p>
          <img src="assets\img\firma.png" alt="" width="140" height="50"/>
        </div>
      </div>
    </div>
  </section>
