<!-- Page Footer-->
<footer class="section footer-minimal context-dark">
  <div class="container wow-outer">
    <div class="wow fadeIn">
      <div class="row row-60">
        <div class="col-12"><a routerLink="home"><img src="assets/img/Pariso blanco.png" alt="" width="140" height="57"
              srcset="assets/img/Pariso blanco.png" /></a></div>
        <div class="col-12">
          <ul class="footer-minimal-nav">
            <li><a routerLink="item">Menu</a></li>
            <li><a routerLink="about">Nosotros</a></li>
            <li><a routerLink="contact">Contacto</a></li>
            <li><a routerLink="booking">Reservas</a></li>
          </ul>
        </div>
        <div class="col-12">
          <ul class="social-list">
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" target="_blank"
                [href]="_servicio.info.facebook"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" target="_blank"
                [href]="_servicio.info.instagram"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" target="_blank"
                [href]="_servicio.info.twitter"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" target="_blank"
                [href]="_servicio.info.youtube"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" target="_blank"
                [href]="_servicio.info.pinterest"></a></li>
          </ul>
        </div>
      </div>
      <p class="rights"><span>&copy;&nbsp; </span><span
          class="copyright-year"></span><span>&nbsp;</span><span>Pariso</span><span>.&nbsp;</span><span>Todos los
          derechos reservados.</span><span>&nbsp;</span><a>Politica de Privacidad</a>
        <br>
        <a align="center" target="_blank" href="MailTo:{{ _servicio.info.email }}"> {{ _servicio.info.email }} </a>
    </div>
  </div>
</footer>
