<!-- Page Footer-->
<footer class="section footer-minimal context-dark">
    <div class="container wow-outer">
      <div class="wow fadeIn">
        <div class="row row-60">
          <div class="col-12"><a href="index.html"><img src="assets/img/Pariso blanco.png" alt="" width="140" height="57" srcset="assets/img/Pariso blanco.png"/></a></div>
          <div class="col-12">
            <ul class="footer-minimal-nav">
              <li><a href="#">Menu</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="about-us.html">About</a></li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="social-list">
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
            </ul>
          </div>
        </div>
        <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Pariso</span><span>.&nbsp;</span><span>Todos los derechos reservados.</span><span>&nbsp;</span><a href="#">Politica de Privacidad</a>
      </div>
    </div>
  </footer>
